@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500;600&family=Work+Sans:wght@400;500;600&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-serif: "Noto Serif", serif;
  --font-sans: "Work Sans", sans-serif;

  --color-primary: #334f2b;
  --color-on-primary: #ffffff;
  --color-background: #fdf9f4;
  --color-surface: #fdf9f4;
  --color-surface-container: #f1ede8;
  --color-surface-container-low: #f7f3ee;
  --color-surface-container-lowest: #ffffff;
  --color-secondary: #5f5e5e;
  --color-on-background: #1c1c19;
  --color-outline: #73796f;
  --color-primary-container: #4a6741;
  --color-on-primary-container: #c2e4b4;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-on-background font-sans antialiased transition-colors duration-300;
  }
}

.soft-shadow {
  box-shadow: 0 4px 20px -2px rgba(28, 28, 25, 0.06);
}
